/*
 *  Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
$font: "Poppins", sans-serif;

/*
 *  Colors
 */

$primary: #2271b1;
$accent: #0a4b78;

$green: #22b14d;
$red: #e06464;
$white: #ffffff;
$text-color: #171b1e;
$border-color: #ddd;
$highlight-color: #f9f9f9;
